.signupWrapper {
  padding: 0 278px 100px;
}

.header {
  padding: 64px 0 14px;
  border-bottom: 5px solid #0d0d0d;
}

.signupWrapper .title {
  font-size: 32px;
  font-weight: 700;
}

.signupWrapper .desc {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}

.signupWrapper .subTitle {
  margin-top: 37px;
  font-size: 22px;
  font-weight: 700;
}

.signupWrapper .main {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 1fr;
}

.tableLine {
  border-bottom: 1px solid #d7d7d7;
}

.signupWrapper .tableHead {
  padding: 32px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f8f8f8;
}

.signupWrapper .tableData {
  padding: 15px 30px;
}

.signupWrapper .duplicatedBtn {
  margin-left: 11px;
}

.signupWrapper .warning {
  margin-left: 6px;
  font-size: 14px;
  color: #f00;
}

.signupWrapper .signupBtn {
  border-radius: 5px;
  background: #111;
  padding: 16px 30px;
  font-size: 14px;
  color: #fff;
}

.signupWrapper .tableBirthdayLine {
  display: flex;
  gap: 10px;
}

.signupWrapper .dropDownWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 143px;
  padding: 16px 10px;
  border-radius: 5px;
  border: 1px solid #8c8c8c;
}

.signupWrapper .email {
  display: flex;
  gap: 10px;
}

.signupWrapper .emailAt {
  margin: 0 5px;
  font-size: 18px;
  color: #717171;
}

.signupWrapper .phoneNumberWrapper {
  padding: 8px 15px 8px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #8c8c8c;
  width: 449px;
}

.signupWrapper .phoneNumber {
  border: none;
  width: 100%;
  font-size: 14px;
}

.signupWrapper .phoneNumber::placeholder {
  color: #a4a4a4;
}

.signupWrapper .phoneNumber:focus {
  outline: none;
}

.signupWrapper .phoneNumberBtn {
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #8c8c8c;
  background-color: #fff;
  flex-shrink: 0;
  color: #5e5e5e;
  font-size: 14px;
}

.signupWrapper .addressWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signupWrapper .address {
  display: flex;
  gap: 10px;
}

.signupWrapper .footer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.signupWrapper .confirmBtn {
  padding: 16px 165px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
}
