.headerBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.wrapper{
    padding: 6px;
    border:  1px solid #888888;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    border: 0px;
}
.search:focus{
    outline: none;
}
.searchBtn{
    width:25px;
    height:25px;
}

.headerSpan{
    font-size: 18px;
    margin-right:6px;
}
