.nav{
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 60px;
    align-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}
.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: auto;
}
.navItem{
    font-size: 16px;
    font-weight: 500;
    color: #AFAFAF;
}