.table {
  width: 100%;
  font-size: 16px;
}

.head {
  padding: 28px 0;
  width: 15%;
  background-color: #f4f4f4;
}

.title {
  width: 40%;
}

.writeBtn {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
  font-size: 14px;
}

.footer {
  margin-top: 41px;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
}

.arrow {
  padding: 16px;
  cursor: pointer;
}

.paginationList {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.paginationItem {
  cursor: pointer;
  padding: 16px;
}
