.topFooter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  padding: 20px 60px 25px;
}

.topFooterInner {
  display: flex;
  gap: 19px;
}

.footerList {
  display: flex;
  gap: 6px;
  font-size: 14px;
}

.footerItem::after {
  margin-left: 6px;
  content: "|";
  font-weight: 400;
}

.footerItem:last-child:after {
  content: "";
}

.personalInfo {
  font-weight: 600;
}

.company {
  margin-top: 12px;
  font-size: 13px;
  line-height: 13px;
}

.topMenuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.topMenu {
  cursor: pointer;
}

.bottomFooter {
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.bottomFooterInner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.customerService {
  font-weight: 600;
}

.tel {
  font-size: 24px;
}

.copyright {
  font-size: 13px;
}

.timeList {
  display: flex;
  gap: 6px;
  font-size: 14px;
}

.timeItem::after {
  margin-left: 6px;
  content: "|";
}

.timeItem:last-child:after {
  content: "";
}
