.nav {
  display: flex;
  padding: 28px 29px;
  justify-content: center;
}

.navList {
  display: flex;
  gap: 62px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.6px;
}

.navItem {
  text-decoration: none;
  color: #000;
}

.navItem:visited {
  color: #000;
}
