.contents {
  display: flex;
  flex-direction: column;
  padding: 0 0 121px;
  gap: 20px 0;
}

.backgroundWrapper {
  padding: 0;
  position: relative;
}

.firstBackgroundBtn {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
}

.backgroundImgs {
  width: 100%;
}
