.productInfoWrapper {
  width: 50%;
  position: sticky;
  top: 64px;
  height: 100%;
}

.productInfoHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #111;
}

.productInfo {
  margin-bottom: 17px;
}

.productName {
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
}

.productPrice {
  margin: 5px;
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

.shareBtnWrapper {
  display: flex;
  align-items: center;
}

.shareBtn {
  display: flex;
  align-items: center;
}

.productColorInfo {
  padding: 20px 0;
  border-bottom: 1px solid #b7b7b7;
}

.productColorTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.productColorStrong {
  font-size: 18px;
  font-weight: 500;
  color: #ff3434;
}

.colorRadio {
  position: absolute;
  opacity: 0;
}

.colors {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.colorLabel {
  padding: 12px 18px;
  display: block;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}

.activeColorLabel {
  border: 1px solid #767676;
}

.productTypeInfo {
  padding: 18px 0;
}

.productTypeInfo + .productTypeInfo {
  padding-top: 0;
  border-bottom: 1px solid #dcdcdc;
}

.productTypeTitle {
  font-size: 16px;
  font-weight: 500;
}

.productTypeSelectBox {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 13px 16px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #dcdcdc;
  cursor: pointer;
}

.productTypeList {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.productTypeItem.active {
  border: 1px solid #000;
}

.productTypeItem {
  padding: 13px 18px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background: #fff;
}

.productDeliveryInfo {
  padding: 19px 0 16px;
  border-bottom: 1px solid #b7b7b7;
}

.productDeliveryInfoList {
  display: flex;
  gap: 53px;
}

.productDeliveryInfoList + .productDeliveryInfoList {
  margin-top: 15px;
}

.prouctDeliveryPlatformWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prouctDeliveryPlatform {
  display: flex;
}

.productDeliveryInfoItem {
  font-size: 16px;
}

.productDeliveryInfoTerm {
  font-size: 18px;
  font-weight: 500;
  width: 64px;
}

.productDeliveryStrong {
  font-weight: 600;
}

.productPaymentMethod {
  display: flex;
  gap: 10px;
}

.productPaymentBtn {
  width: 50%;
}

.productPaymentBtn .productPaymentImg {
  width: 100%;
}

.productPurchaseBtnWrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectedProductList {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selectedProductItem {
  padding: 14px 16px 16px 19px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.selectedProductTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 14px;
  border-bottom: 1px solid #cacaca;
}

.selectedProductPriceInfo {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPrice {
  font-size: 20px;
}

.totalPriceMoney {
  font-size: 26px;
  font-weight: 600;
}

.productCountWrapper {
  border: 2px solid #d1d1d1;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 40px;
}

.productCount {
  font-size: 20px;
  font-weight: 600;
  width: 60px;
  text-align: center;
}

.productCountBtn {
  padding: 12px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.productCountBtn:first-child {
  border-right: 2px solid #d1d1d1;
}

.productCountBtn:last-child {
  border-left: 2px solid #d1d1d1;
}

.productRemoveBtn {
  cursor: pointer;
}
